body {
	background-color: #F89F1B;
	color: #777777;
	margin: 60px 0;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

#instructions {
	font-size: 20px;
	color: #f8f8f8;
	margin: 10px 0 25px;
}

.main {
	padding-top: 50px;
	color: #a04162;
}

#about {
	font-size: 14px;
	font-weight: 400;
}

input {
	font-size: 16px;
	padding: 8px 15px;
	border: 0px;
	margin-top: 7px;
}

input[type=text] {
	background-color: #F8F8F8;
	width: 98%;
}

input[name=name] {
	padding-right: 62px;
}

input[type=text]:disabled {
	background-color: rgba(248, 248, 248, 0.8);
}

input[type=submit] {
	background-color: #a04162;
	color: #ffffff;
}

#track-inputs {
	position: relative;
}

#suggestions {
	position: absolute;
	width: 98%;
	padding: 0;
	list-style-type: none;
	z-index: 1000;
}

#suggestions li {
	padding: 8px 15px;
	background-color: #F8F8F8;
	cursor: pointer;
}

#suggestions li:hover {
	background-color: #e6e6e6;
}

.btn-purple-lg {
	background-color: #a04162;
	color: #ffffff;
	font-size: 16px;
	padding: 8px 15px;
	border: 0px;
}

input::-webkit-input-placeholder {
  color: #c895a7;
}
input:-moz-placeholder {
  color: #c895a7;
}

#playlist-row {
	display: none;
}

.duration-span {
	color: #ED5A6D;
}

#playlist-ul img {
	margin-right: 10px;
	width: 50px;
	height: 50px;
}

#playlist-ul > li {
	background-color: #F8F8F8;
	margin-top: 2px;
	border-radius: 0px;
	padding: 5px 10px;
}

#playlist-info {
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 20px;
	position: relative;
}

.navbar-brand {
	font-size: 30px;
	font-family: 'Playball', cursive;
}

#moosic {
	color: #a04162;
}

.btn-in-input > button {
	background-color: #A04162;
	color: #f8f8f8;
	margin-top: 0px;
	position: relative;
	top: 1px;
	border: none;
	border-radius: 1px;
	font-size: 18px;
	padding: 6px 0px;
	width: 32px;
	margin-right: 2px;
	line-height: 1;
}

.btn-in-input {
	margin: 0 0 0 -69px;
	padding: 0;
	text-align: right;
	min-width: 64px;
	display: none;
	z-index: 1000;
	line-height: 1;
}

input[name=name]:focus + .btn-in-input,
input[name=name]:hover + .btn-in-input,
.btn-in-input:hover {
	display: inline-block;
}

#loading {
	font-size: 22px;
	color: #a04162;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	transform: translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	display: none;
}

#loading-msg {
	font-size: 18px;
	font-style: italic;
}

#static-btns {
	position: fixed;
	z-index:1000;
	padding: 0px;
	top: 51px;
}

.popover{
    max-width: 100%;
}

.custom-checkbox {
	font-size: 17px;
	color: #f8f8f8;
	margin-top: 5px;
}
.custom-checkbox [type=checkbox] {
	display: none;
}
.custom-checkbox [type=checkbox] + span {
	font-family: FontAwesome;
	width: 18px;
	height: 18px;
	margin-right: 3px;
	border: 3px solid #f8f8f8;
	display: inline-block;
	position: relative;
	top: 2px;
}
.custom-checkbox [type=checkbox]:checked + span:after {
	content: '\f00c';
	font-family: FontAwesome;
	font-size: 17px;
	padding: 0;
	color: #a04162;
	position: absolute;
	left: -1px;
	line-height: 100%;
	top: -4px;
	padding: 0;
}

@media screen and (max-width: 400px) {
	#instructions {
		font-size: 18px;
	}
}
